<ion-view view-title="About Us">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="primary">
            <button menu-toggle="left" class="button icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="textcenter" style="background-color: rgba(214, 214, 214, 0.2);">
            <img class="fulimg" src="img/main2.jpg">
        </div>
        <div class="content">
            <h4>Heading 1</h4>
            <p>Today Smart & mobile phones are part of our day to day life, so do a swift & secure method for mobile recharges is needed, such a facility is offered by Payposts mobile recharge. By creating your account, you can recharge for anyone be it your mom, dad, relatives friends or even gift to strangers who need it. Just open your account & go for mobile recharge.</p>
            <h4>Heading 2</h4>
            <p>Payposts strives to connect users & retailers to form generous independent mobile payments system. By using Payposts wallet services users get faster & secure payments options for any kind of purchases without frequently exposing your net/debit/credit card details. By creating your account, you will get a wallet, where you may deposit money upto 5000 INR. From this wallet you may do mobile recharge or pay for your Utility bills ie. Electricity, Gas etc. Payposts wallet offers instant transfer of money to your friends & family with ease.</p>
            <h4>Heading 3</h4>
            <p>Utility bill payments like Gas Bills, Electricity bills, Insurance Bills can be easily done by availing Bills Payments services. Also, Data Card recharges, DTH recharges can be comfortably be done at ease ease of your home, offices etc. We want to create a hassle free bill payment services for all.</p>
        </div>
    </ion-content>
</ion-view>