<ion-view view-title="PayPosts">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="primary">
            <button menu-toggle="left" class="button icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>


        <!--LIST-->
        <div class="row">
            <div class="col redbg">
                <div class="option textcenter">
                    <img class="fulimg" src="img/mobile.jpg">
                </div>
                <p class="textcenter">Mobile</p>

            </div>
            <div class="col redbg">
                <div class="option textcenter">
                    <img class="fulimg" src="img/bill.jpg">
                </div>
                <p class="textcenter">TV</p>

            </div>
            <div class="col redbg">
                <div class="option textcenter">
                    <img class="fulimg" src="img/dth.jpg">
                </div>
                <p class="textcenter">Data Card</p>

            </div>
            <div class="col redbg">
                <div class="option textcenter">
                    <img class="fulimg" src="img/bill.jpg">
                </div>
                <p class="textcenter">Bill</p>

            </div>
            <div class="col redbg">
                <div class="option textcenter">
                    <img class="fulimg" src="img/dth.jpg">
                </div>
                <p class="textcenter">Bus Ticket</p>

            </div>
        </div>
        <!--END LSIT-->
    </ion-content>
</ion-view>