<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu class="redbg" side="left">
        <ion-content>
            <div class="textcenter">
                <img class="menu_img" src="img/logo-revision.png">
            </div>



            <ion-list class="menulist">

<!--
                <a class="item item-icon-left" href="#/app/home">
                    <img class="icon" src="img/mobile.png" width="32" height="32"> Check mail
                </a>
                <a class="item item-icon-left" href="#/app/about">
                    <i class="icon ion-home"></i> Check mail
                </a>
                <a class="item item-icon-left" href="#/app/profile">
                    <i class="icon ion-wallet"></i> Check mail
                </a>
                <a class="item item-icon-left" href="#/app/wallet">
                    <i class="icon ion-profile"></i> Check mail
                </a>
                <a class="item item-icon-left" href="#/app/customercare">
                    <i class="icon ion-email"></i> Check mail
                </a>
-->
                
                <ion-item class="redbg" menu-close href="#/app/home">
                     Home
                </ion-item>
                <ion-item class="redbg" menu-close href="#/app/about">
                    About Us
                </ion-item>
                <ion-item class="redbg" menu-close href="#/app/profile">
                    Profile
                </ion-item>
                <ion-item class="redbg" menu-close href="#/app/wallet">
                    Wallet
                </ion-item>
                <ion-item class="redbg" menu-close href="#/app/customercare">
                    Customer Care
                </ion-item>

            </ion-list>
            <div class="textcenter">
                <div class="row">
                    <div class="col"><img class="menu_img" src="img/facebook.png"></div>
                    <div class="col"><img class="menu_img" src="img/twitter.png"></div>
                    <div class="col"><img class="menu_img" src="img/googleplus.png"></div>
                </div>
            </div>


        </ion-content>
    </ion-side-menu>
</ion-side-menus>